# Database
DATABASE_URL="postgresql://neondb_owner:npg_bmGL6Rd7ENFt@ep-mute-butterfly-apftzetd.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require"

# JWT
JWT_SECRET="4f0cdd4f8ff50967c3c3d5514e051055"
JWT_EXPIRES_IN="7d"

# Server
PORT=3001
NODE_ENV=development

# CORS - frontend origin
CLIENT_URL="http://localhost:5173"
